<tr>
  <td class="task">

    <span class="content">
      <%= link_to task.content, task %>
    </span>
    <br />
    <span class="extras">
      <i>Priority:</i> <%= task.priority %>  |
      <i>Status:  </i><%= task.status %> |
      <i>Category: </i><%= task.category %> <br />  
      <i>Due Date: </i><%= task.due_date.strftime('%B %e, %Y') %>  
    </span>
    <span class="timestamp">
      Submitted <%= time_ago_in_words(task.created_at) %> ago.
    </span>
  </td>
  <% if current_user.admin? %>
    <td>
      <%= link_to "delete", task, :method => :delete,
          :confirm => "Are you sure you want to delete this request?  It would
                       be better if you commented on it.",
          :title => "Delete this request?" %>
    </td>
  <% end %>
</tr>
