<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
      <strong>URL</strong> <%= link_to user_path(@user), @user %><br />
      <strong>Requests Submitted</strong> <%= @user.tasks.count %>
    </td>
  </tr>
    <% unless @user.tasks.empty? %>
      <table class="tasks" summary="User Submitted Requests">
        <%= will_paginate @tasks %>
        <%= render @tasks %>
      </table>
      <%= will_paginate @tasks %>
    <% end %> 
</table>

