<%= form_for(@task) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <table class="table">
    <tr>
    <td>
      <div class="field">
        <%= f.label :content, "Describe Your Request" %><br />
        <%= f.text_area :content %>
      </div>
    </td>
    <td>
      <div class="field">
      <%= f.label :priority %>
      <%= f.select(:priority, ['Emergency', 'High', 'Medium', 'Low'],
                   :selected => 'Medium') %>

      </div>
      <div class="field">
        <%= f.label :due_date, "When do you want this done by?" %><br />
        <%= f.date_select(:due_date, :start_year => 2012
          #, :prompt => {
          #:day => "Day", :month => "Month", :year => "Year" },
          #:default => 30.days.from_now 
           ) %>
      </div>
      <div class="field">
      <%= f.label :category %>
      <%= f.select(:category, ['Other', 'Major Maintenance',
                    'Minor Maintenance', 'Administration', 'Landscaping'],
                   :selected => 'Minor Maintenance') %><br />
      </div>
      <div class="field">
        <%= f.hidden_field :status, :value => "New" %>
      </div>
    </td> 
   </tr>
  </table>
  <div class="actions">
    <%= f.submit "Submit Request" %>
  </div>
<% end %>

