<footer>
  <nav class="round">
    <br>Copyright 2011</br>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Login", login_path %></li>
      <li><%= link_to "New User", signup_path %></li>
   </ul>

   <br>Logo by Jodie Stowe - <a href="http://stowedesign.com">Stowe Design</a>
   </br>
  </nav>
</footer>

